<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="17.13.226" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging" version="17.13.40008" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="17.7.47" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.36" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="17.13.40008" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="17.13.40008" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30319" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="17.13.40008" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="17.13.40008" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50727" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="17.13.61" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.13.61" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Threading.Only" version="17.13.61" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Utilities" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="17.8.8" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.VCProjectEngine" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.13.2126" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="17.13.2126" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.3" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="9.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.6.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.1" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.2" targetFramework="net48" />
</packages>